.contact {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: var(--dark);

    & .row {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;

        & .col {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;

            & .contact__text {
                background-color: rgba(255,182,193, 0.45);
                width: 100%;
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
        
                & h1 {
                    margin: 0 auto;
                }
        
                & p {
                    margin: 1rem auto 0 auto;
                    font-size: 27px;
                    padding: 0.2rem;
                    line-height: 1.7;
                }
            }
        
            & .contact__form {
                width: 100%;
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
        
                & form {
                    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.18);
                    border-radius: 9px;
                    background-color: var(--light);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    width: 630px;
                    height: 630px;
        
                    & input {
                        width: 540px;
                        height: 40px;
                        padding: 1rem;
                        margin: 0.4rem auto;
                    }
        
                    & .message {
                        resize: none;
                        width: 540px;
                        height: 300px;
                        padding: 1rem;
                        margin: 0.4rem auto;
                    }
        
                    & .contact__btn {
                        width: 540px;
                        height: 60px;
                        padding: 1rem;
                        margin: 0.8rem auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        text-transform: uppercase;
                        font-weight: bold;
                        background-color: var(--light-pink);
                        border: 1px solid var(--light-pink);
                        color: var(--light);
                        transition: all 0.2s ease-in-out;
        
                        &:hover {
                            color: var(--brown);
                            background-color: var(--light);
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 546px){
    .contact {
        width: 100%;
        height: auto;

        & .row {
            flex-wrap: wrap;

            & .col {

                & .contact__text {
                    height: 50vh;

                    & h1 {
                        font-size: 2rem;
                    }

                    & p {
                        text-align: center;
                        font-size: 1rem;
                    }
                }

                & .contact__form {
                    width: 100%;
                    height: 100vh;
            
                    & form {
                        width: 270px;
                        height: 630px;
            
                        & input {
                            width: 180px;
                            height: 40px;
                        }
            
                        & .message {
                            width: 180px;
                            height: 300px;
                        }
            
                        & .contact__btn {
                            width: 180px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 547px) and (max-width: 719px){
    .contact {
        width: 100%;
        height: auto;

        & .row {
            flex-wrap: wrap;

            & .col {

                & .contact__text {
                    height: 50vh;

                    & p {
                        text-align: center;
                    }
                }

                & .contact__form {
                    width: 100%;
                    height: 100vh;
            
                    & form {
                        width: 450px;
                        height: 630px;
            
                        & input {
                            width: 360px;
                            height: 40px;
                        }
            
                        & .message {
                            width: 360px;
                            height: 300px;
                        }
            
                        & .contact__btn {
                            width: 360px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 720px) and (max-width: 899px){
    .contact {
        width: 100%;
        height: auto;

        & .row {
            flex-wrap: wrap;

            & .col {

                & .contact__text {
                    height: 50vh;
                }

                & .contact__form {
                    width: 100%;
                    height: 100vh;
            
                    & form {
                        width: 540px;
                        height: 630px;
            
                        & input {
                            width: 450px;
                            height: 40px;
                        }
            
                        & .message {
                            width: 450px;
                            height: 300px;
                        }
            
                        & .contact__btn {
                            width: 450px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 900px) and (max-width: 1079px){
    .contact {
        width: 100%;
        height: auto;

        & .row {
            flex-wrap: wrap;

            & .col {
                & .contact__text {
                    height: 50vh;
                }
            }
        }
    }
}

@media screen and (min-width: 1080px) and (max-width: 1279px){
    .contact {
        width: 100%;
        height: auto;
    
        & .row {
            flex-wrap: wrap;
    
            & .col {
                & .contact__text {
                    width: 100%;
                    height: 50vh;
                }
            }
        }
    }
}

@media screen and (min-width: 1280px) and (max-width: 1439px){
    .contact {
        & .row {
            & .col {
                & .contact__form {
                    & form {
                        width: 360px;
                        height: 450px;
                        padding: 2rem;
            
                        & input {
                            width: 270px;
                            height: 40px;
                            padding: 1rem;
                            margin: 0.4rem auto;
                        }
            
                        & .message {
                            width: 270px;
                        }
            
                        & .contact__btn {
                            width: 270px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) and (max-width: 1499px){
    .contact {
        & .row {
            & .col {
                & .contact__form {
                    & form {
                        width: 540px;
                        height: 540px;
                        padding: 2rem;
            
                        & input {
                            width: 360px;
                            height: 40px;
                            padding: 1rem;
                            margin: 0.4rem auto;
                        }
            
                        & .message {
                            width: 360px;
                            height: 300px;
                        }
            
                        & .contact__btn {
                            width: 360px;
                            height: 60px;
                        }
                    }
                }
            }
        }
    }
}