.donations {
    width: 100%;
    height: 100vh;
    background-color: var(--light);
    color: var(--dark);

    & .row {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
    }

    & .col {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    & .donations__text {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        text-align: center;
        padding: 4rem;

        & h1,
        & h3,
        & p {
            margin: 2rem auto;
        }

        & p {
            font-size: 27px;
        }
    }

    & .donations__image {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .computer_img {
            width: 720px;
            height: auto;
            border-top-right-radius: 90px;
            border-bottom-left-radius: 90px;
            box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.36);
            padding: 2rem;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 547px){
    .donations {
        border: 4px solid red;
        width: auto;
        height: auto;

        & .row {
            flex-wrap: wrap;
        }

        & .donations__text {
            & .logo_img {
                width: 180px;
                height: auto;
            }
        }

        & .donations__image {
            & .computer_img {
                width: 360px;
                height: auto;
            }
        }
    }
}

@media screen and (min-width: 548px) and (max-width: 720px){
    .donations {
        border: 4px solid blue;
        width: auto;
        height: auto;

        & .row {
            flex-wrap: wrap;
        }

        & .donations__text {
            & .logo_img {
                width: 270px;
                height: auto;
            }
        }

        & .donations__image {
            & .computer_img {
                width: 450px;
                height: auto;
            }
        }
    }
}

@media screen and (min-width: 721px) and (max-width: 900px){
    .donations {
        border: 4px solid black;
        width: auto;
        height: auto;

        & .row {
            flex-wrap: wrap;
        }

        & .donations__text {
            & .logo_img {
                width: 270px;
                height: auto;
            }
        }

        & .donations__image {
            & .computer_img {
                width: 450px;
                height: auto;
            }
        }
    }
}

@media screen and (min-width: 901px) and (max-width: 1080px){
    .donations {
        border: 4px solid yellowgreen;
        width: auto;
        height: auto;

        & .row {
            flex-wrap: nowrap;

            & .donations__text {

                & .logo_img {
                    width: 270px;
                    height: auto;
                }
            }

            & .donations__image {

                & .computer_img {
                    width: 360px;
                    height: auto;
                }
            }
        }
    }
}

@media screen and (min-width: 1081px) and (max-width: 1280px){
    .donations {
        border: 4px solid orangered;
        width: auto;
        height: auto;
        padding: 4rem;

        & .row {
            flex-wrap: nowrap;
        }

        & .donations__text {
            & .logo_img {
                width: 270px;
                height: auto;
            }
        }

        & .donations__image {
            & .computer_img {
                width: 540px;
                height: auto;
            }
        }
    }
}

@media screen and (min-width: 1281px) and (max-width: 1440px){
    .donations {
        border: 4px solid steelblue;
        width: auto;
        height: auto;
        padding: 4rem;

        & .row {
            flex-wrap: nowrap;
        }

        & .donations__text {
            & .logo_img {
                width: 270px;
                height: auto;
            }
        }

        & .donations__image {
            & .computer_img {
                width: 540px;
                height: auto;
            }
        }
    }
}