// @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

:root {
    --light: rgba(252, 252, 252, 1);
    --light-gray: rgba(212, 208, 204, 1);
    --lighter-gray: rgba(247, 238, 229, 1);
    --gray: rgba(0, 0, 0, 0.45);
    --dark: rgba(47, 34, 31, 1);
    --light-pink: rgba(255,182,193, 1);

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: inherit;
    scroll-behavior: smooth;
}

body {
    // font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Caveat Brush', cursive;
}

a { text-decoration: none; }

li { list-style-type: none; }

h1 { font-size: 54px; }
h2 { font-size: 45px; }
h3 { font-size: 36px; }
h4 { font-size: 27px; }
h5 { font-size: 18px; }
h6 { font-size: 9px; }

p { font-size: 18px; }

.container {
  width: auto;
  height: auto;
  margin: 0 auto;
}